services:
  app:
    # ビルド設定(Dcokerfileを使用)
    build:
      context: .
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_BLOG_CLD_FLONT_BASE_URL: ${NEXT_PUBLIC_BLOG_CLD_FLONT_BASE_URL}
        NEXT_PUBLIC_BLOG_CLD_FLONT_IMAGE_URL: ${NEXT_PUBLIC_BLOG_CLD_FLONT_IMAGE_URL}
    # 開発環境のホスト側(ローカル)のファイル変更をコンテナに即座に反映
    volumes:
      - .:/app              # カレントディレクトリ全体を /app に同期
      - /app/node_modules   # node_modulesはホスト側の物を使わずコンテナ側を優先（重要

    # Next.js 開発時の環境変数設定
    env_file:
    - .env.local

    # サービス起動時に実行するコマンド(開発サーバー起動)
    command: npm run dev

    # ポートマッピング
    ports:
      - "3000:3000"
