/* ベーススタイル */
.markdown-body {
    /* コンテンツの横幅を制限して読みやすくする */
    max-width: 1024px;
    margin: 0 auto;
    padding: 30px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    line-height: 1.6;
    color: #e7e7e7;
    background-color: #21283073;
    border: 2px solid #7e9abb17;
    padding: 20px;
}

/* ヘッダー */
.markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6 {
    margin-top: 36px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.5;
    padding-bottom: 0.3em;
}

.markdown-body h1 {
    font-size: 2em;
    border-bottom: 1px solid #636972; /* 視覚的な区切り */
}
.markdown-body h2 {
    font-size: 1.5em;
    border-bottom: 1px solid #636972; /* 視覚的な区切り */
}
.markdown-body h3 {
    font-size: 1.25em;
    border-bottom: 1px solid #636972; /* 視覚的な区切り */
}

.markdown-body hr {
    display: none;
}

/* リンク */
.markdown-body a {
    color: #0366d6;
    text-decoration: none;
}
.markdown-body a:hover {
    text-decoration: underline;
}

/* リスト */
.markdown-body ul {
    padding-left: 2em;
    margin-bottom: 16px;
    list-style: disc;
}

.markdown-body ol {
    padding-left: 2em;
    margin-bottom: 16px;
    list-style: decimal;
}

.markdown-body li > p {
    margin-top: 0;
}

/* 太字 */
.markdown-body strong {
    font-weight: 700;
}

/* 斜め文字 */
.markdown-body em {
    font-style: italic;
}

/* コードブロック */
.markdown-body pre {
    padding: 16px;
    overflow: auto;
    line-height: 1.45;
    background-color: #081018; /* 薄い背景色 */
    border-radius: 6px;
    margin-bottom: 16px;
}

.markdown-body code {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(175, 184, 193, 0.2);
    border-radius: 6px;
}

.markdown-body pre code {
    display: inline;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
}

/* 引用 */
.markdown-body a{
    color: #75b1f5;
}

.markdown-body a:hover{
    color: #1d7fee;
}
